
body, html { 
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

#navbar{
  position: fixed;
  width: 100%;
  height: 4%;
  padding-bottom: 8px;
  display: block;
  transition: top 0.3s;
  background-color:transparent;
}
.link-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  float: right;
  display: flex;
  line-height: 40px;
}
.link-bar ul li{
  width: 30%;
  margin: 3px;
}
.link-bar ul li a{
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  color: #be1414f1;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}
.link-bar ul li a::before{
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0%;
  transition: 0.5s all;
}
.link-bar ul li a:hover::before{
  width: 100%;
  transition: 1s all;
}
#nav-img{
  width: 40px;
  padding-top: 3px;
  display: inline;
  margin-left: 20px;
  float: left;
}
.main-divs{
  height: 100%;
  /* this style for rmove the space between divs*/
  display: grid;
}
.footer{
  background-color: aqua;
  height: 30%;
  margin: 2px 0 ;
}
.col-1{
  float: left;
  width: 32%;
  margin-top: 10px;
  margin-bottom: 20px; 
  text-align: center;
}
.col-2{
  float: left;
  width: 32%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
   text-align: center;
}
.slide{
  width: 100%;
  height: 100%;
}
.prev-div, .next-div{
  visibility: visible;
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 5%;
}
.prev-div:hover,
.next-div:hover{
  background-color: transparent;
}
.prev, .next{
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next-div {
  right: 0;
}
.next{
  margin-left: 53px;
}
.next:hover, .prev:hover{
    background-color: white;
    color: black;
}
.pgup{
    background-color: black;
    color: brown;
    border-radius: 10px;
    float: right;
    margin-top: 0 auto;
    margin-right: 5px;
    text-align: center;
}
.pgup:hover{
    background-color: brown;
    color: black;
}
.up-button{
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 0 solid;
  margin-top: 30px;
  margin-left: 8px;
}
.up-button:hover{
  background-color: black;
}
.swiper-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 70%;
  background-color:transparent;
  margin-top: 10%;
}
.swiper-slide {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 18px;
  background:transparent;
  height: auto;
  margin-top: 100px;
  box-shadow: darkgray 10px 10px 15px;
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.img{
  position: relative;
  margin-top: 15px;
  margin-left: 5%;
  width:90%;
}
.divs-prev, .divs-next{
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: 25px;
  margin-top: -22px;
  margin-right: 30px;
  padding: 16px;
  color: dimgray;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 50% 50% 50% 50%;
  user-select: none;
  border: 0 0 0 0;
}
.divs-next{
  right:20px;
  border-radius: 50% 50% 50% 50%;
}
.divs-prev{
  left: 20px;
  margin-left: 30px;
}
.divs-prev:hover, .divs-next:hover{
  background-color: white;
  color: black;
}
